/*
 ██████╗     ██████╗     ██╗          ██████╗     ██████╗     ███████╗
██╔════╝    ██╔═══██╗    ██║         ██╔═══██╗    ██╔══██╗    ██╔════╝
██║         ██║   ██║    ██║         ██║   ██║    ██████╔╝    ███████╗
██║         ██║   ██║    ██║         ██║   ██║    ██╔══██╗    ╚════██║
╚██████╗    ╚██████╔╝    ███████╗    ╚██████╔╝    ██║  ██║    ███████║
 ╚═════╝     ╚═════╝     ╚══════╝     ╚═════╝     ╚═╝  ╚═╝    ╚══════╝
*/

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.bg-blue {
  background-color: $blue !important;
}

.text-blue {
  color: $blue !important;
}

.bg-green {
  background-color: $green !important;
}

.text-green {
  color: $green !important;
}

.bg-grey {
  background-color: $grey !important;
}

.text-grey {
  color: $grey !important;
}

.bg-grey-lighten {
  background-color: $grey-lighten !important;
}

.text-grey-lighten {
  color: $grey-lighten !important;
}

.bg-blue-lighten {
  background-color: $blue-lighten !important;
}

.text-blue-lighten {
  color: $blue-lighten !important;
}
