/*
██╗          █████╗     ██╗   ██╗     ██████╗     ██╗   ██╗    ████████╗    
██║         ██╔══██╗    ╚██╗ ██╔╝    ██╔═══██╗    ██║   ██║    ╚══██╔══╝    
██║         ███████║     ╚████╔╝     ██║   ██║    ██║   ██║       ██║       
██║         ██╔══██║      ╚██╔╝      ██║   ██║    ██║   ██║       ██║       
███████╗    ██║  ██║       ██║       ╚██████╔╝    ╚██████╔╝       ██║       
╚══════╝    ╚═╝  ╚═╝       ╚═╝        ╚═════╝      ╚═════╝        ╚═╝       
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.page {
  padding-top: 50px;
}

.page-content {
  padding: 72px 24px;
}
