.navbar {
  width: 100%;
  min-height: 60px;
  z-index: 2;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navbar.fixed {
  position: fixed;
  top: 0;
}

.tabs {
  display: flex;
  overflow-y: auto;
  a.tab {
    padding: 15px 20px;
    color: white;
    position: relative;
    text-align: center;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      .line {
        width: 100%;
      }
    }
    .line {
      position: absolute;
      bottom: 0;
      width: 0;
      left: 0;
      height:3px;
      background-color:white;
      transition: all 250ms ease 0s;
    }
  }
  a.active {
    .line {
      width: 100%;
    }
  }
}


@media screen and (max-width: 600px) {
  .tabs {
    a.tab {
      font-size: 12px;
    }
  }
}
